<header id="header">
    <button type="button" class="mobile-menu"><span>메뉴</span></button>
    <div class="menu">
        <nav id="gnb">
            <ul class="tt_category">
                {{ range .Site.Menus.main }}
                <li>
                    <a href="{{ .URL }}" class="link_tit">{{ .Name }} 
                        {{ if eq .Name "분류 전체보기" }}
                        <span class="c_cnt">({{ len (where .Site.RegularPages "Type" "posts") }})</span>
                        {{ end }}
                    </a>
                    {{ if eq .Name "분류 전체보기" }}
                    <ul class="category_list">
                        {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
                        <li>
                            <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}" class="link_item">
                                {{ $name | title }} <span class="c_cnt">({{ $taxonomy.Count }})</span>
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </li>
                {{ end }}
            </ul>
        </nav>
        
        <div class="social-link">
            <!-- 소셜 링크들 -->
        </div>
    </div>
    
    <div class="search">
        <label for="search" class="screen_out">블로그 내 검색</label>
        <input id="search" type="text" name="search" placeholder="검색내용을 입력하세요.">
        <button type="submit">검색</button>
    </div>
</header>
